[project]
	description = Visualization tool for flash based memories using traces from real world or other simulation software.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dolev Hadar (elys1um)
[access "refs/for/refs/*"]
	read = group user/Dolev Hadar (elys1um)
	push = group user/Dolev Hadar (elys1um)
	label-Code-Review = -2..+2 group user/Dolev Hadar (elys1um)
	label-Verified = -1..+1 group user/Dolev Hadar (elys1um)
	rebase = group user/Dolev Hadar (elys1um)
	removeReviewer = group user/Dolev Hadar (elys1um)
	submit = group user/Dolev Hadar (elys1um)
[access "refs/heads/*"]
	read = group user/Dolev Hadar (elys1um)
	create = group user/Dolev Hadar (elys1um)
	push = +force group user/Dolev Hadar (elys1um)
	pushMerge = group user/Dolev Hadar (elys1um)
[access "refs/tags/*"]
	push = +force group user/Dolev Hadar (elys1um)
	pushTag = group user/Dolev Hadar (elys1um)
	pushSignedTag = group user/Dolev Hadar (elys1um)
